/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: 700;}
em {font-style: italic;}


/* General
***********************/
body {
	font-size:16px;
	line-height:22px;
	height: auto;
	font-family: 'Raleway', sans-serif;
	color:#373648;
	//background-color:#EEEFE5;
	background:transparent url(../images/blackwall.jpg) no-repeat center center fixed;


	-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
}
table{
	color:#C8CBCC;
}
a:link {color: #d76713; text-decoration:none;}
a:visited {color: #d76713; text-decoration:none;}
a:hover {color: #813107; text-decoration:none;}
a:active {color: #d76713; text-decoration:none;}

.MeetMeInBrooklyn-Regular { 
	font-family: MeetMeInBrooklyn-Regular;
	font-weight: normal;
	font-style: normal;
}
h1 {
	font-family: 'MeetMeInBrooklyn-Regular';
	font-size:55px;
	line-height:60px;
	color:#E67530;
}
h2 {
	font-family: 'MeetMeInBrooklyn-Regular';
	font-size:86px;
	line-height:100px;
	color:#FFFFFF;
	margin-bottom:10px;
}
.bigSpace {
	height:160px;
	width:100%;
	clear:both;
}
section {
  text-align: center;
}
.space {
	width:100%;
	//clear:both;
	padding-left:60px;
}	
.space3 {
	width:100%;
	clear:both;
}	
.space2 {
	display:none;
}
.space1 {
	display:none;
}
.wrapper {
		width:94%;
		max-width:1200px;
		margin:0px auto;
}
.whiteBkg {
	background-color:#F4F5EE;
	width:100%;
}

#submit{
  color:white;
  border-radius:4px;
  background: #1F8DD6;
  padding:5px;
  margin-top:40px;
  border:none;
  width:100px; 
  height:30px;
  box-shadow:0px 0px 1px 2px #123456;
  font-size:16px;    
  }
#submit:hover{
   background:#0E6199;
   box-shadow:0px 0px 1px 2px #123456;
   cursor:pointer;
}


input{ 
  width:250px;
  height:25px; 
  border-radius:4px;
  box-shadow:0px 0px 1px 2px #B0B4B5; 
  margin-top:10px;
  padding:5px;
  border:none;
  margin-bottom:20px;
  font-size:16px;
  font-family:arial;
  }

textarea {
	font-size:16px;
	font-family:arial;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#ffffff;
}



/* Navbar */

header {
    height: 70px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:3px;
	z-index:99999;
	background-color: #566473;
	/*background: -webkit-linear-gradient(#89968B,#89968B); 
  	background: -o-linear-gradient(#89968B,#89968B); 
  	background: -moz-linear-gradient(#89968B, #89968B);
  	background: linear-gradient(#89968B, #89968B);*/
}
.nav-up {
    top: -70px;
}	
.navbar1 a:link {color: #FFFFFF; text-decoration:none;}
.navbar1 a:visited {color: #FFFFFF; text-decoration:none;}
.navbar1 a:hover {color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:pressed {color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.navbar1 a:active {color: #FFFFFF; text-decoration:none;}

.btnPressed a:link {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:visited {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:hover {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:pressed {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}
.btnPressed a:active {color: #ACCBBB; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;}

.navWrapper {
	padding:0px 15px 0px 15px;
}
#top-menu {
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu li {
    float: left;
}

#top-menu a {
    display: block;
    margin: 25px 14px 0px 14px;
    text-align: center;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    color: #ffffff;
    text-decoration: none;
	padding:2px 3px 2px 5px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
}

#top-menu a:hover {
	color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

#top-menu li.active a {
    color: #ACBCAF; text-decoration:none; font-weight:500; background-color:#ffffff; padding:2px 3px 2px 5px; -moz-border-radius: 3px; border-radius: 3px;
}

.navbar2 {
	display:none;
}	
.twitterIcon {
	width:6.9%;
	max-width:50px;
	background-image:url(../images/twitter.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:23px 19px;
}
.twitterIcon:hover {
	background-image:url(../images/twitter_rollover.png);
	cursor:pointer;
}
.googleplusIcon {
	width:6.9%;
	max-width:50px;
	background-image:url(../images/googleplus.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:21px 19px;
}
.googleplusIcon:hover {
	background-image:url(../images/googleplus_rollover.png);
	cursor:pointer;
}
.dribbbleIcon {
	width:6.9%;
	max-width:50px;
	background-image:url(../images/dribbble.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:19px 19px;
}
.dribbbleIcon:hover {
	background-image:url(../images/dribbble_rollover.png);
	cursor:pointer;
}
.emailIcon {
	width:6.9%;
	max-width:50px;
	background-image:url(../images/email.png);
	height:19px;
	float:right;
	margin:25px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:19px 19px;
}
.emailIcon:hover {
	background-image:url(../images/email_rollover.png);
	cursor:pointer;
}


/* Banner */

.bannerBkg {
	background-position:top center;
	//background:#2f2e2e;
	color: #ffffff;
	height: 50vh;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
#bannerRight {
	float:right;
	width:50%;
}
.bannerWrapper {
	width:100%;
	max-width:960px;
	margin:0px auto;
}
.drops {
	opacity:0;
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
}
.bannerText {
	font-family: 'MeetMeInBrooklyn-Regular';
	font-size:30px;
	line-height:115px;
	color:#ffffff;
	text-align:right;
	width:46%;
	float:left;
	padding-top:80px;
	letter-spacing:-1px;
}
.bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	line-height:29px;
	letter-spacing:0px;
}
.tentacles {
	width:473px;
	float:left;
	margin-left:35px;
	margin-top:-10px;
}
.tentaclesHeader {
	position:fixed;
	float:left;
	left:50%;
	top:70px;
	z-index:999;
}
#tentaclesHeader2 {
	position:absolute;
	float:left;
	left:50%;
	top:70px;
	z-index:99;
	background-image:url(../images/tentacles.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:473px;
	height:590px;
}


/* Tagline */

.tagline {
	width:100%;
	background-color:#324254;
	//background-image:url(../images/bluewall.jpg);
	background-repeat:no-repeat;
	//background-position:top left;
	padding:0px 0px 60px 0px;
	//border-top:1px solid #F4F5EE;
}
.taglineWrapper {
	width:94%;
	max-width:900px;
	margin:0px auto;
	font-size:24px;
	color:#C8CBCC;
	text-align:center;
	font-weight:300;
	line-height:40px;
}

/* Services */


.servicesWrapper {
	width:100%;
	max-width:1200px;
	margin:0px auto;
}
.servicesBox {
	width:31.2%;
	float:left;
	margin-right:2.86%;
	text-align:center;
	font-size:17px;
	color:#C8CBCC;
	margin-top:-45px;
	line-height:25px;
}
.servicesBoxLast {
	width:29.6%;
	float:left;
	text-align:center;
	font-size:17px;
	color:#C8CBCC;
	margin-top:-45px;
	line-height:25px;
}
.servicesCircle {
	background-color:#EEEFE5;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
	-webkit-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.75);
}
.servicesCircle img {
	width:73.2%;
	max-width:82px;
}
.servicesTitle {
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#E67530;
}
.servicesDivide1 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #EBA982;
}
.servicesDivide2 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #CFB0AA;
}
.servicesDivide3 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}
.servicesDivide4 {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BCC2B6;
}
/*#designIcon {
	visibility: hidden;
}
#developmentIcon {
	visibility: hidden;
}
#newsletterIcon {
	visibility: hidden;
}
#socialIcon {
	visibility: hidden;
}*/


/* About */


.aboutPic {
	width:100%;
	background-image:url(../images/henry.jpg);
	background-position:center center;
}
.aboutText {
	float:left;
	width:36%;
	text-align:justify;
	max-width:500px;
	padding:70px 7% 70px 7%;
	font-size:16px;
	line-height:23px;
	text-align:left;
	color:#C8CBCC;
}
.aboutOctopus {
	float:left;
	width:50%;
	//margin-top:-42px;
	text-align:right;
}
.aboutOctopus img {
	//padding-right:50px;
}

.twitterBkg {
	margin-top:-95px;
	text-align:center;
	padding-bottom:70px;
	padding-top:50px;
	width:100%;
}
.twitterCircle {
	background-color:#EEEFE5;
	width:112px;
	height:96px;
	text-align:center;
	padding-top:16px;
	margin:0px auto;
	-moz-border-radius: 56px;
	-webkit-border-radius: 56px;
	border-radius: 56px;
	-khtml-border-radius: 56px;
}
.twitterCircle img {
	width:50%;
	max-width:82px;
	margin-top:-20px;
}
#twitterIcon {
	visibility: hidden;
}
.twitterLink {
	font-size:15px;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing:1px;
}
.twitterDivide {
	margin:30px auto 30px auto;
	width:50px;
	border-bottom:1px solid #BBC9B0;
}


/* Boxes */

.workGroup2 {
	display:none;
}
.boxesInfo {
	font-size:11px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:2px 50px 0px 50px;
	line-height:15px;
}
.popUpLeft {
	width:57%;
	float:left;
	margin-right:5%;
}
.popUpLeft img {
	width:100%;
}
.popUpRight {
	width:38%;
	float:right;
}
.popUpFull img {
	width:100%;
	max-width:850px;
	text-align:center;
}
.popUpTitle {
	color:#d76713;
	font-size:32px;
	line-height:35px;
	margin-bottom:10px;
}
.popUpBtn {
	background-color:#778472;
	color:#ffffff;
	text-align:center;
	font-size:12px;
	font-weight:500;
	letter-spacing:2px;
	text-transform:uppercase;
	padding:10px 5% 10px 5%;
	width:90%;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.popUpBtn:hover {
	background-color:#576153;
	cursor:pointer;
}
.popUpRight a:link, .popUpFull a:link {color: #ffffff; text-decoration:none;}
.popUpRight a:visited, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:hover, .popUpFull a:visited {color: #ffffff; text-decoration:none;}
.popUpRight a:active, .popUpFull a:visited {color: #ffffff; text-decoration:none;}

.popUpService {
	font-size:13px;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	letter-spacing:0px;
	padding:4px;
	background-color:#EEEFE5;
	margin-bottom:10px;
	text-align:center;
}

.ltGreenBox {
	width:25%;
	float:left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
background: #A0AABA;

	text-align:center;
	letter-spacing:3px;
	color:#3D3D40;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.ltGreenBox img {
	width:60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkGreenBox {
	width:25%;
	float:left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
background:#BCD1BE;

	text-align:center;
	letter-spacing:3px;
	color:#3D3D40;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.dkGreenBox img {
	width:60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkGreenBox:hover{
-webkit-box-shadow:inset 0px 0px 0px 10px #000000;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    background-color: #7E8385;
}
.yellowBox {
	width:25%;
	float:left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: #ffffff;

	text-align:center;
	letter-spacing:3px;
	color:#3D3D40;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.yellowBox:hover{
	 -webkit-box-shadow:inset 0px 0px 0px 10px #000000;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    background-color: #7E8385;
}
.yellowBox img {
	width:60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkOrangeBox {
	width:25%;
	float:left;
    background:#B5B8BD;

	text-align:center;
	letter-spacing:3px;
	color:#3D3D40;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.dkOrangeBox img {
	width:60%;
	max-width:210px;
	margin-bottom:10px;
}
.dkOrangeBox:hover{
	-webkit-box-shadow:inset 0px 0px 0px 10px #000000;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    background-color: #7E8385;
}
.ltOrangeBox {
	width:25%;
	float:left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7c7dc+0,85b2d3+100;Blue+Grey+3D */
background: #B2CBD4;

	text-align:center;
	letter-spacing:3px;
	color:#3D3D40;
	padding:55px 0px 25px 0px;
	height:220px;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:700;
	line-height:16px;
}
.ltOrangeBox img {
	width:60%;
	max-width:210px;
	margin-bottom:10px;
}
.ltOrangeBox:hover{
	-webkit-box-shadow:inset 0px 0px 0px 10px #000000;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    background-color: #7E8385;
}
.ltGreenBox:hover{
	-webkit-box-shadow:inset 0px 0px 0px 10px #000000;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    background-color: #7E8385;
}
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Store */

.popUpStore {
	padding:20px;
	background:#fff;
}
.more {
	display: none;
}
.storeBkg {
	width:100%;
	padding:110px 0px 110px 0px;
}
.storeWrapper {
	width:94%;
	max-width:1120px;
	margin:0px auto;
}
.storeHeading {
	width:98%;
	margin-left:1%;
	margin-right:1%;
	padding:30px 0px 30px 0px;
	text-align:center;
	font-size:40px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:60px;
	color:#b0bea7;
	font-weight:300;
}
.andFont {
	font-family: 'Goudy Bookletter 1911', serif;
	color:#949E90;
}
.storeFooter {
	width:98%;
	padding:20px 0px 20px 0px;
	text-align:center;
	font-size:18px;
	margin-top:20px;
	margin-left:1%;
	margin-right:1%;
	color:#d76713;
	font-weight:300;
}
.storeLeft {
	width:31.333%;
	background-color:#ffffff;
	float:left;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:25px;
}
.storePadding {
	padding:20px;
	font-size:13px;
	line-height:19px;
}
.store {
	width:80%;
	background-position:center center;
	text-align:center;
	padding:30px 10% 30px 10%;
	background-size:364px 243px;
  	-webkit-transition-duration: 0.2s;
  	transition-duration: 0.2s;
}
.store img {
	width:100%;
}
.store:hover {
	background-size:420px 280px;
}
.storeBtn {
	background-color:#d76713;
	padding:7px 20px 7px 20px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#ffffff;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.buyNow {
	text-align:right;
	margin-top:15px;
}
.buyNow a:link {color: #ffffff; text-decoration:none;}
.buyNow a:visited {color: #ffffff; text-decoration:none;}
.buyNow a:hover {color: #ffffff; text-decoration:none;}
.buyNow a:active {color: #ffffff; text-decoration:none;}
.price {
  color:#ffffff;
  background: #813107;
	padding:7px 12px 7px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #d76713;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #813107;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color:#ffffff;
  background: #813107;
	padding:5px 12px 5px 12px;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
}




/* Contact */


.contactBkg {
	width:100%;
	//background-image:url(../images/footer_bkg1.jpg);
	background:#333;
	background-position:bottom center;
}
.contactWrapper {
	width:94%;
	max-width:710px;
	margin:0px auto;
	text-align:center;
	font-size:16px;
	line-height:25px;
	padding:90px 0px 450px 0px;
}
.contactCol1 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol2 {
	width:32%;
	float:left;
	margin-right:2%;
	text-align:left;
}
.contactCol3 {
	width:32%;
	float:right;
	text-align:left;
}
.comments {
	width:66%;
	float:left;
	text-align:left;
}



	

/* Interior Pages */





/* Media Queries
***********************/



@media screen and (max-width: 1200px) {

.bigSpace {
	height:100px;
	width:100%;
	clear:both;
}
@media screen and (max-width: 980px) {
	

/* Banner */

.bannerBkg {
	//background-image:url(../images/banner-med.jpg);
	//background-position:top center;
	background:#2f2e2e;
	color: #ffffff;
	height: 50vh;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
#bannerRight {
	display:none;
}
.bannerText {
	font-family: 'MeetMeInBrooklyn-Regular';
	font-size:30px;
	line-height:82px;
	text-align:right;
	width:44%;
	float:left;
	padding-top:105px;
	padding-left:5%;
	letter-spacing:-1px;
}
.bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	line-height:25px;
	letter-spacing:0px;
}
#tentaclesHeader2 {
	display:none;
}



/* Tagline */

.tagline {
	padding:62px 0px 92px 0px;
}
.taglineWrapper {
	font-size:24px;
	line-height:35px;
}
.twitterBkg {
	margin-top:0px;
	padding-bottom:60px;
	padding-top:60px;
}
.twitterCircle {
	display:none;
}

/* Services */

.bigSpace {
	height:80px;
	width:100%;
	clear:both;
}
.servicesBox {
	font-size:14px;
	line-height:20px;
}
.servicesBoxLast {
	font-size:14px;
	line-height:20px;
}

/* About */


.aboutText {
	float:left;
	width:40%;
	max-width:500px;
	padding:50px 5% 50px 5%;
	font-size:15px;
	line-height:20px;
}
.aboutOctopus img {
	padding-right:50px;
	width:50%;
	height:50%;
}
.aboutOctopus {
	//float:left;
	width:50%;
	//margin-top:-28px;
	text-align:right;
	 /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
}

/* Boxes */
	
.workGroup1 {
	display:none;
}
.workGroup2 {
	display:block;
}
.ltGreenBox {
	width:33.3333%;
}
.dkGreenBox {
	width:33.3333%;
}
.yellowBox {
	width:33.3333%;
}
.dkOrangeBox {
	width:33.3333%;
}
.ltOrangeBox {
	width:33.3333%;
}

}



@media screen and (max-width: 820px) {
	

/* About */

.aboutPic {
	width:100%;
	background-image:url(../images/about_bkg.jpg);
	background-position:center right;
}
.aboutText {
	float:none;
	width:86%;
	max-width:900px;
	padding:50px 7% 50px 7%;
}
.aboutOctopus {
	display:none;
}
	
	
/* Store */	
	
.storeBkg {
	width:100%;
	padding:90px 0px 90px 0px;
}
.storeHeading {
	width:97%;
	margin-left:1.5%;
	margin-right:1.5%;
	padding:25px 0px 25px 0px;
	font-size:35px;
	letter-spacing:2px;
	margin-bottom:40px;
}
.storeFooter {
	width:97%;
	padding:15px 0px 15px 0px;
	font-size:16px;
	margin-top:20px;
	margin-left:1.5%;
	margin-right:1.5%;
}
.storeLeft {
	width:47%;
	background-color:#ffffff;
	float:left;
	margin-left:1.5%;
	margin-right:1.5%;
	margin-bottom:25px;
}
.space3 {
	display:none;
}
.space2 {
	display:block;
	width:100%;
	clear:both;
}

}

@media screen and (max-width: 750px) {



h2 {
	font-size:66px;
	line-height:80px;
	margin-bottom:10px;
}

/* Navbar */

	
header {
    height: 50px;
	background: -webkit-linear-gradient(#ACBCAF, #ACBCAF); 
  	background: -o-linear-gradient(#ACBCAF, #ACBCAF); 
  	background: -moz-linear-gradient(#ACBCAF, #ACBCAF);
  	background: linear-gradient(#ACBCAF, #ACBCAF);
}
.navbar1 {
	display:none;
}	
.navbar2 {
	display:block;
	width:50%;
	float:left;
}	
.accordionButton {	
	width: 100%;
	height:32px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	cursor: pointer;
	font-size:14px;
	line-height:14px;
	text-transform:uppercase;
	font-weight:500;
	color:#FFFFFF;
	letter-spacing:3px;
	padding:15px 0px 0px 5px;
	}
	
.accordionContent {	
	width: 100%;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	background: #ACBCAF;
	font-size:12px;
	line-height:12px;
	text-align:center;
	font-weight:500;
	padding:15px 0px 15px 0px;
	color:#ffffff;
	}
.accordionContent a {
	color:#ffffff;
}
.accordionContent a:hover{
color:#000000;
font-family:arial;	
}
.divLine {
	width:94%;
	margin:10px 3% 10px 3%;
	border-bottom:1px solid #C5D0C7;
}
.twitterIcon {
	width:10.9%;
	max-width:50px;
	background-image:url(../images/twitter.png);
	height:17px;
	float:right;
	margin:17px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:21px 17px;
}
.googleplusIcon {
	width:10.9%;
	max-width:50px;
	background-image:url(../images/googleplus.png);
	height:17px;
	float:right;
	margin:17px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:19px 17px;
}
.dribbbleIcon {
	width:10.9%;
	max-width:50px;
	background-image:url(../images/dribbble.png);
	height:17px;
	float:right;
	margin:17px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:17px 17px;
}
.emailIcon {
	width:10.9%;
	max-width:50px;
	background-image:url(../images/email.png);
	height:17px;
	float:right;
	margin:17px 0px 0px 0px;
	background-repeat:no-repeat;
	background-position:top center;
	background-size:17px 17px;
}

/* Banner */

.bannerBkg {
	//background-image:url(../images/banner-small.jpg);
	//background-position:top right;
	background:#2f2e2e;
	color: #ffffff;
	height: 300px;
	margin: 0px 0px 0px 0px;
	padding: 70px 0 0 0;
	z-index:999999;
}
.bannerText {
	font-family: 'MeetMeInBrooklyn-Regular';
	font-size:90px;
	line-height:82px;
	text-align:center;
	width:94%;
	max-width:400px;
	float:none;
	padding-top:25px;
	padding-left:0px;
	padding-right:0px;
	margin:0px auto;
	letter-spacing:-1px;
}
.bannerTextSmall {
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	line-height:23px;
	letter-spacing:0px;
}
.tentacles {
	width:473px;
	float:left;
	margin-left:35px;
	margin-top:-10px;
}
.tentaclesHeader {
	position:fixed;
	float:left;
	left:50%;
	top:70px;
	z-index:999;
}
#tentaclesHeader2 {
	position:absolute;
	float:left;
	left:50%;
	top:70px;
	z-index:99;
	background-image:url(../images/tentacles.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:473px;
	height:590px;
	display:none;
}



/* Tagline */

.tagline {
	padding:52px 0px 52px 0px;
}
.taglineWrapper {
	font-size:20px;
	line-height:30px;
}
.twitterBkg {
	padding-bottom:50px;
	padding-top:50px;
}



/* Services */


.servicesWebDesign:before {
	//background-image:url(../images/design_icon.png);
	//background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
	font-family: FontAwesome;
    content: "\f044";
	font-size:70px;
/*--adjust as necessary--*/
    padding-left: 0.5em;
    top: 10px;
    left: 0;
}
.servicesDevelopment:before {
	//background-image:url(../images/development_icon.png);
	//background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
	font-family: FontAwesome;
    content: "\f121";
	font-size:70px;
/*--adjust as necessary--*/
    padding-left: 0.5em;
    top: 10px;
    left: 0;
}
.servicesNewsletter:before{
	//background-image:url(../images/newsletter_icon.png);
	//background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
	font-family: FontAwesome;
    content: "\f0ad";
	font-size:70px;
/*--adjust as necessary--*/
    padding-left: 0.5em;
    top: 10px;
    left: 0;
}
.servicesSocial:before {
	//background-image:url(../images/social_icon.png);
	//background-size:67px 66px;
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:85px;
	font-family: FontAwesome;
    content:  "\f013";
	font-size:70px;
/*--adjust as necessary--*/
    padding-left: 0.5em;
    top: 10px;
    left: 0;
}
.bigSpace {
	height:60px;
	width:100%;
	clear:both;
}
.servicesWrapper {
		/*width:94%;*/
		/*max-width:1200px;*/
		/*margin:60px auto 0px auto;*/
}
.servicesBox {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.servicesBoxLast {
	width:94%;
	float:none;
	margin-right:3%;
	margin-left:3%;
	text-align:left;
	font-size:14px;
	margin-top:30px;
	line-height:20px;
}
.servicesCircle {
	display:none;
}
.servicesTitle {
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:6px;
}
.servicesDivide1 {
	display:none;
}
.servicesDivide2 {
	display:none;
}
.servicesDivide3 {
	display:none;
}
.servicesDivide4 {
	display:none;
}


/* Boxes */


.ltGreenBox {
	width:50%;
}
.dkGreenBox {
	width:50%;
}
.yellowBox {
	width:50%;
}
.dkOrangeBox {
	width:50%;
}
.ltOrangeBox {
	width:50%;
}
.ltGreenBox img {
	width:70%;
}
.dkGreenBox img {
	width:70%;
}
.yellowBox img {
	width:70%;
}
.dkOrangeBox img {
	width:70%;
}
.ltOrangeBox img {
	width:70%;
}




@media screen and (max-width: 500px) {
	


h1 {
	font-size:45px;
	line-height:50px;
}
h2 {
	font-size:40px;
	line-height:50px;
	margin-bottom:10px;
}


/* Banner */


.bannerText {
	font-size:30px;
	//line-height:74px;
}

/* Tagline */

.tagline {
	padding:42px 0px 42px 0px;
}
.taglineWrapper {
	font-size:18px;
	line-height:26px;
}
.twitterBkg {
	padding-bottom:50px;
	padding-top:50px;
}


/* Store */	
	
.popUpStore {
	padding:3px;
}
.storeBkg {
	width:100%;
	padding:60px 0px 60px 0px;
}
.storeHeading {
	width:94%;
	max-width:364px;
	margin-left:auto;
	margin-right:auto;
	padding:15px 0px 15px 0px;
	font-size:24px;
	letter-spacing:1px;
	margin-bottom:25px;
}
.storeFooter {
	width:94%;
	max-width:364px;
	padding:10px 0px 10px 0px;
	font-size:14px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}
.storeLeft {
	width:94%;
	max-width:364px;
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
}
.space3 {
	display:none;
}
.space2 {
	display:none;
}
.space1 {
	display:block;
	width:100%;
	clear:both;
}

	
/* Boxes */
	
.ltGreenBox {
	display:none;
}
.dkGreenBox {
	width:100%;
}
.yellowBox {
	width:100%;
}
.dkOrangeBox {
	width:100%;
}
.ltOrangeBox {
	width:100%;
}

/* Contact */


input {
	margin-bottom:10px;
}
.contactWrapper {
	width:94%;
	max-width:710px;
	margin:0px auto;
	text-align:center;
	font-size:14px;
	line-height:21px;
	padding:60px 0px 350px 0px;
}
.contactCol1 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.contactCol2 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.contactCol3 {
	width:48%;
	float:left;
	margin-left:1%;
	margin-right:1%;
	text-align:left;
}
.comments {
	width:60%;
	float:left;
	text-align:left;
	margin-left:1%;
	margin-right:1%;
}
.submit {
	width:36%;
	float:right;
	margin-left:1%;
	margin-right:1%;
}
.submitBtn {
	width:100%;
	height:120px;
	font-size:30px;
}

#list-of-services {
  margin-left: 0%;
  font-size: 1.3em;
  color:white;
  font-family: 'Roboto', sans-serif;
}

#henrypic{
-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	background: red;
}


/* Retina Display Images */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {


}
#contactForm{
font-size:50px;
}
footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  padding: 1em 0;
  background:#26292B;
}

footer > * {
  margin: 0 0 0 -50px;
}

footer ul li {
  display: inline;
  margin-right: 0.2em;
} 
.grayscale{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.grayscale:hover{
filter: grayscale(100%);
-webkit-filter: grayscale(100%); /* For Webkit browsers */
filter: gray; /* For IE 6 - 9 */
-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */

}

.accordionContent{
	display: none;
}

