<html ng-app="App">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script>
		var model = {
			user: "Henry",
			items: [
			{ action: "Buy groceries", done: false , remove : false},
			{ action: "Buy school suplies", done: false , remove : false},
			{ action: "Buy movie tickets", done: false , remove : false},
			{ action: "Buy a razor", done: false , remove : false},
			{ action: "Get new tires", done: false , remove : false}
			]
		};
		var todoApp = angular.module("App", []);

		todoApp.filter("checkedItems", function () {
			return function (items, showComplete) {
				var resultArr = [];
				angular.forEach(items, function (item) {
					if (item.done == false || showComplete == true) {
						resultArr.push(item);
					} });
				return resultArr;
			}
		});

		todoApp.controller("MainController", function ($scope) {
			$scope.todo = model;

			$scope.incompleteItems = function () {
				var count = 0;
				angular.forEach($scope.todo.items, function (item) {
					if (!item.done) {
						count = count + 1;
					}
				});
				return count;
			}
			$scope.warningLevel = function () {
				return $scope.incompleteItems() < 3 ? "label-success" : "label-warning";
			}
			$scope.addNewItem = function (newItem) {
				
				if(newItem == null || newItem == ''){
					
					angular.forEach($scope.todo.items, function(value, key) {
						if (value.action == newItem){
							$scope.todo.items.splice(key, 1);
						}
					});	

				}
				else{
					$scope.todo.items.push({ action: newItem, done: false });
					$scope.newItem = null;
				}
			}
			

			$scope.removeItem = function(index){

				angular.forEach($scope.todo.items, function(value, key) {
					if (value.action == index){
						$scope.todo.items.splice(key, 1);
					}
				});

			}; 

		});
	</script>
</head>
<body ng-controller="MainController"> 
	<div class="page-header" style="text-align:center">
		<h2>
			{{todo.user}}'s Shopping List
			<br/><br/><span class="label label-default" ng-class="warningLevel()">
			<!-- ng-hide="incompleteItems() == 0" -->
			{{incompleteItems()}}
		</span>&nbsp;<span style = "color:#ACAFB0">pending</span>
	</h2>
</div>
<div class="container">
	<div class="input-group">
		<input class="form-control" ng-model="newItem"/>
		<span class="input-group-btn">
			<button class="btn btn-primary" ng-click="addNewItem(newItem)">Add</button>
		</span>
	</div>
	<table class="table table-striped" style="border-bottom:2px solid black;">
		<thead> <tr>
			<th>Description</th>
			<th>Done</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
			<td>{{item.action}}</td>
			<td><input type="checkbox" ng-model="item.done" /></td>
			<td><button type="button" class="btn btn-danger" ng-click="removeItem(item.action)">borrar</button></td>
			<!-- <td>{{item.done}}</td> -->
		</tr>
	</tbody>
</table>
<div class="checkbox-inline">
	<label><input type="checkbox" ng-model="showComplete"> Show Complete</label>
</div>
</div>
</body>
</html>