* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 { 
  font-size: 2.8em;
  margin-top: -10px;
}

h1,h2 {
  text-align: center;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 0.25em;
}

section {
  text-align: center;
}

article {
  width: 100%;
}

nav,
footer, 
a {
  font-family: Consolas;
}

.jumbotron {
  //background: url(../images/mtns-background.jpg) no-repeat center center;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+91,207cca+100,7db9e8+100,207cca+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #000000;
	


  background-size: cover;
}

#content {
  padding-top: 50px;
  min-height: 100%;
  position: relative;
}

#content:after {
  content: "";
  display: block;
}

#list-of-services {
  margin-left: 5%;
  font-size: 1.2em;
  color:white;
}

h4,
.skills-list {
  text-align: left;
  margin-left: 10%;
}

h4 {
  text-decoration: underline;
}

footer {
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  padding: 1em 0;
}

footer > * {
  margin: 0 0 0 -50px;
}

footer ul li {
  display: inline;
  margin-right: 0.2em;
}

.social-media-links p {
  margin-top: 10px;
}